body {
  font-family: 'roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
}


div {
	overflow: hidden;
}

/*header*/

.brand h1 {
	margin: 0;
}

.buy {
    padding-top: 8px;
}

.buy-now {
	background: #335eea;
	border-color: #335eea;
}

.nav a {
	color: #5066a9;
}

.row {
    margin: 0;
}

.navbar-nav {
    margin: 0;
}

.collapse {
	display: inherit;
}


.navigation {
	float: right;
	padding-right: 80px;
}




/*banner*/

.banner img {
	width: 100%;
}

.right-image {
	float: right;
}

.in1-content {
    font-size: 40px;
}

.in1-content span {
	color: #335eea;
}

.in1-content small {
    font-size: 14px;
    display: block;
    color: #86a0d1;
    margin: 20px 0;
}

.banner-row {
    padding: 100px 0;

}

.in1-content {
    padding-top: 40px;
}

.pages {
	background: #335eea;
	border-color: #335eea;
}

.arrow {
    padding-left: 10px;
}

.doc {
	background: #ebeffe;
	color: #335eea;
	border-color: #ebeffe;
}


/*about*/

.about {
    padding-bottom: 90px;
}


.about-us img {
	display: block;
	padding-bottom: 20px;
}

.about-us {
	font-size: 15px;
}

.about-us small {
	display: block;
	padding-top: 20px;
	font-size: 12px;
	color: #86a0d1;
}


/*partners*/

.carousel-wrap {
    padding: 40px 0;
    border-bottom: 1px solid #f1f3f8;
    border-top: 1px solid #f1f3f8;
}


/*sample*/

.sample {
	background: #f9fbfd;
	padding: 90px 0;
}

.right-div {
	float: right;
}

.sample-ul {
	padding: 0;
	list-style-type: none;
	font-size: 14px;
	color: #42ba96;
	line-height: 35px;
}

.sample-div {
	padding: 0;
}

.sample-inner {
    font-size: 20px;
    padding: 151px 200px 0 0;
}

.sample-inner span {
	color: #42ba96;
}

.sample-inner small {
    display: block;
    padding: 20px 0;
    font-size: 14px;
    color: #86a0d1;
}

.sample-li {
	position: relative;
    padding: 0 30px;
}

.sample-li::before {
    content: "";
    background: url(../images/li.png) no-repeat;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0px;
    top: 9px;
}

/*/
/*form*/


.form-main {
    padding: 40px 20px;
}

.form-div {
	background: #fff;
	margin-right: 92px;
}

.sample-btn {
    width: 100%;
    background: #42ba96;
    border-color: #42ba96;
    padding: 10px 0
}

.form-me img {
	width: 100%;
}

.form-control {
	background: none;
	border: none;
	border-bottom: 1px solid #f1f3f8;
	border-radius: inherit;
	-webkit-box-shadow: inherit;
	padding: 6px 0;
}

/*experience*/

.back-bg  {
    content: "";
    background: url(../images/back-bg.png) no-repeat;
    width: 100%;
    background-position: right;
    padding:  80px 0;
    background-color: #f9fbfd;
}


.experience {
	font-size: 20px;
}

.experience span {
    color: #335eea;
}

.experience-div img {
    width: 100%;
}

.experience span {
	display: block;
}

.experience small {
	display: block;
	font-size: 14px;
    color: #86a0d1;
    padding: 20px 0;
}

.icon-experience {
	font-size: 12px;
}

.experience-in-icon {
    display: inline-block;
    vertical-align: top;
}

.experience-in-icon img {
	width: 100%;
}

.experience-in {
    display: inline-block;
    padding-left: 22px;
}


/*airbnd*/


.airbnd-main {
	padding: 20px 0;
}


.airbnd {
	text-align: center;
	font-size: 20px;
	padding: 30px 0;
}

.airbnd small {
	display: block;
	font-size: 14px;
    color: #86a0d1;
    padding: 20px 0;
}

.airbnd-text {
	padding: 60px 0 50px 0;
}

.carousel-inner>.item {
	border-radius: 5px;
}

.item-inn {
	text-align: center;
	font-size: 20px;
}

.item-inn1 {
	padding: 0;
}


.item-inn span {
	display: block;
	color: #92a4bf;
	font-size: 12px;
}

.item-inn small {
	padding: 20px 0;
	display: block;
}


.item-inn img {
	display: block;
	margin: 0 auto;
}


.carousel-control {
    position: absolute;
    top: 50%;
    display: inline-block;
    font-size: inherit;
    color: inherit;
    text-align: inherit;
    text-shadow: inherit;
    background-color: inherit;
    opacity: inherit;
    width: auto;

}

.carousel-control.left {
    background-image: inherit;
}


.carousel-control.right {
    background-image: inherit;
}

.carousel-control.right {
    right: 0;
}

.switch {
    width: 40px !important;
    height: 22px !important;
}

.slider:before {
    height: 13px !important;
    width: 13px !important;
    bottom: 5px !important;
}


.carousel-row {
    margin: 30px;
    background: #fff;
    box-shadow: 2px 2px 20px #eee;
}

/*design*/


.design-inn {
	font-size: 20px;
	line-height: 32px;
}

.design-inn span {
	color: #335eea;
	display: block;

}

.design-inn small {
	display: block;
    padding: 20px 0;
    font-size: 14px;
    color: #86a0d1;
    line-height: 23px;

}

.design {
	background: #f1f3f8;
	padding: 100px 0;
}


.design-in img {
	width: 100%;
}

.ratio {
	display: inline-block;
	padding: 0 30px;
	border-right: 1px solid  #ccc;
}

.ratio:first-child {
	padding-left: 0;
}

.ratio:last-child {
	border: inherit;
}


.ratio span {
	font-size: 12px;
	color: #5f6a93;
}


/*pricing*/

.pricing-main {
	background: #f1f3f8;
}

.pricing {
	font-size: 25px;
	text-align: center;
}

.pricing small {
    padding: 20px 0;
    font-size: 15px;
    color: #86a0d1;
    line-height: 20px;
    display: block;
}


/*plans*/

.plans {
	background: #f1f3f8;
}

.plans-in {
    text-align: center;
}

.plans-main .thumbnail {
	border: 0 !important;
	background: none;
	text-align: center;
}

.plans-main {
	text-align: left;
	padding: 42px 20px;
	transition: all 0.5s ease-in;
}
.plans-main:hover {
    border-bottom: 1px solid #e3e6f0;
    transform: scale(1.1);
}

.plans-main .thumbnail {
    border: 1px solid #f5f8fb !important;
    background: #f4f6fa;
    
    transition: all 0.5s ease-in;
}

.thumbnail-in {
	padding: 46px 100px 0 100px;
}

.plans-head {
    margin: 0;
    line-height: 70px;
    font-size: 35px;
}

.plans-ul {
    list-style-type: none;
    padding: 0;
    line-height: 40px;
    font-size: 19px;
    text-align: left;
}

.plans-btn {
	background-color: #ccc;
	border-color: #ccc;
	width: 100%;
	color: #000;
	font-size: 18px;
}

.all-plans {
	padding: 60px 0px;
	display: inline-block;
    width: 100%;
}
.plans-main .thumbnail:hover {
    background: #fff;
    transform: scale(1.1);
    z-index: 999;
    border-bottom: 1px solid #000;
    
}

.plans-main span {
    color: #65748a;
}

.plans-main .thumbnail:hover span {
	color: #000;
}

.plans-main .thumbnail:hover .plans-head {
	color: #000;
}

.plans-main .thumbnail:hover .plans-ul {
	color: #000;
}

.plans-main .thumbnail:hover .btn-primary {
	color: #fff;
	background-color: #335eea;
	border-color: #335eea;
}

.btn-primary:hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
}

.plans-li::before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 20px;
    background: url(../images/li.png) no-repeat;
}
.plans-main:hover .plans-li::before {
	color: #fff;
}


/*ques*/

.ques-main {
	background: #2a344f;
	padding: 80px 0;
}

.ques-li::before {
    content: "";
    background: url(../images/li-g.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -53px;
    top: 16px;
}

.ques-ul {
	list-style-type: none;
}

.ques-li {
	color: #fff;
	font-size: 20px;
	padding: 15px 0;
	line-height: 26px;
	position: relative;
}

.ques-li small {
	color: #ccc;
	font-size: 16px;
}

/*buy*/

.buy-main {
	background: #2a344f;
	padding-bottom: 47px;
}

.buy-1 {
	font-size: 30px;
	text-align: center;
	background: #2a344f;
	color: #fff;
	font-weight: 300;
}

.buy-1 small {
	font-size: 14px;
	display: block;
	color: #ccc;
	padding: 25px 0;
}

.buy-1 span {
    background: #2e3955;
    display: block;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    width: 10%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.buy-btn {
	background: #42ba96;
	border-color: #42ba96;
	font-size: 13px;
}

/*footer*/

footer {
	background: #f1f3f8;
}

.footer-ul {
	list-style-type: none;
	padding: 0;
	color: #869ab8;
	line-height: 25px;
}

.info-head {
	color: #5a6e97;
	font-size: 15px;
	margin: 0;
}

.footer-row {
	padding: 25px 0;
}

.l-div {
	padding-bottom: 15px;
}

.social {
	padding-top: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 9px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.swutch-block-field p {
	display: inline-block;
	font-size: 15px;
	vertical-align: top;
	color: #c1adb9;

}



/*switch butoon*/


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}